<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户管理</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->

    <!-- Styles -->

    <link href="/css/sidebar.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/helper.css" rel="stylesheet">
    <link href="/css/style2.css" rel="stylesheet">
</head>

<body>

<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo">
                    <!-- <img src="assets/images/logo.png" alt="" /> -->
                    <span>欢迎您!</span></a></div>
                <li class="label">菜单栏</li>
                <li>
                    <ul>
                        <li><a href="user management.html">用户管理</a></li>
                        <li><a href="index.html">角色管理</a></li>
                        <li><a href="personal center.html">个人中心</a></li>
                        <li><a href="divisional management.html">部门管理</a></li>
                        <li><a href="TCAP.html">事务处理</a></li>
                        <li><a href="CENTRA.html">事务审批</a></li>
                        <li><a href="announcement.html">公告</a></li>
                        <li><a href="rest.html">其他</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->

<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>password</td>
    </tr>
    <tr v-for="user in arr" id="showUser">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.password}}</td>
    </tr>
</table>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>您好, <span>欢迎来到这里</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">还没想好名字</a></li>
                                <li class="breadcrumb-item active">还没想好名字</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入vue框架-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!--引入axios框架-->
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<!-- jquery vendor -->
<script src="/js/jquery.min.js"></script>
<script src="js/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/js/idebar.js"></script>
<script src="/js/pace.min.js"></script>
<!-- sidebar -->

<script src="/js/ootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<!-- bootstrap -->


<!-- scripit init-->
<script src="/js/dashboard2.js"></script>
<script>
    let v = new Vue({
        el:"#showUser",
        data:{
            arr:[]
        },
        created:function () {

            axios.get("/SelectUser").then(function (response) {
                v.arr = response.data;
            })

    }})

</script>

</body>

</html>
